<div class="d-flex justify-content-between">
  {% if list_slug != "mine" %}

  <div class="container-fluid">

    {% if view_completed %}



    <div class="row">
      <div class"col-sm-12">
        <a href="{% url 'todo:list_detail' list_id list_slug %}" class="btn btn-block btn-warning mb-2"><i class="fas fa-spinner fa-spin"></i> View pending
          tasks</a>
      </div>
    </div>

    {% else %}

    <div class="row">
      <div class"col-sm-12">
        <a href="{% url 'todo:list_detail_completed' list_id list_slug %}" class="btn btn-block btn-success mb-2"><i
            class="fa fa-check"></i> View complete tasks</a>
      </div>
    </div>

    {% endif %}

    <div class="row">
      <div class"col-sm-12">
        <a href="{% url 'todo:del_list' list_id list_slug %}" class="btn btn-block btn-danger"><i
            class="fa fa-times"></i>
          Delete this list</a>
      </div>
    </div>

    {% endif %}

  </div>
</div>