<div class="container-fluid">

  <div class="d-flex justify-content-between">
    {% if list_slug != "mine" %}

      {% if view_completed %}
        <a href="{% url 'todo:list_detail' list_id list_slug %}" class="btn btn-sm btn-warning"><i
            class="fas fa-spinner fa-spin"></i> View pending
          tasks</a>
      {% else %}
        <a href="{% url 'todo:list_detail_completed' list_id list_slug %}" class="btn btn-sm btn-warning"><i
            class="fa fa-history"></i> View completed tasks</a>
      {% endif %}

    <a href="{% url 'todo:del_list' list_id list_slug %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i>
      Delete this list</a>

    {% endif %}

  </div>
</div>