alabaster==0.7.12
asgiref==3.4.1
Babel==2.9.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.9
distlib==0.3.3
Django==3.2.9
docutils==0.17.1
filelock==3.4.0
idna==3.3
imagesize==1.3.0
Jinja2==3.0.3
-e git+https://github.com/CharlesBlonde/libpurecoollink.git@a91362c57a0bc4126279c8c51c407dd713b08e10#egg=libpurecoollink
MarkupSafe==2.0.1
netifaces==0.11.0
packaging==21.3
paho-mqtt==1.6.1
pipenv @ git+https://github.com/pypa/pipenv.git@cdde3f7bcee6bacba89538f73aba9401337be10c
platformdirs==2.4.0
psycopg2==2.9.2
psycopg2-binary==2.9.2
pycryptodome==3.12.0
Pygments==2.10.0
pyparsing==3.0.6
pytz==2021.3
requests==2.26.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
urllib3==1.26.7
virtualenv==20.10.0
virtualenv-clone==0.5.7
