{% extends "todo/base.html" %}
{% block title %}Delete list{% endblock %}

{% block content %}
  {% if user.is_staff %}
  <h2>Delete <span class="text-primary">{{ task_list.name }}</span>?</h2>
  <ul class="my-4">
    <li>Incomplete: {{ task_count_undone }} </li>
    <li>Complete: {{ task_count_done }} </li>
    <li>
      <strong>Total: {{ task_count_total }}</strong>
    </li>
  </ul>

  <form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <input type="hidden" name="task_list" value="{{ task_list.id }}">
    <p>
      <a href="{% url 'todo:list_detail' task_list.id task_list.slug %}" class="btn btn-success btn-block my-2"><i class="fas fa-arrow-left"></i> Return to list: {{ task_list.name }}</a>
      <input type="submit" name="delete-confirm" value="Delete list" class="btn btn-lg btn-danger btn-block my-2">
    </p>
  </form>


{% else %}
  <p>Sorry, you don't have permission to delete lists. Please contact your group administrator.</p>
{% endif %} {% endblock %}