/* Bootstrap overrides */

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    margin: 0 !important;
    padding: 0 !important;
}

.bg-gradient-morning {
    background: linear-gradient(327deg, #fdd835, #ffb300, #fb8c00, #1266f1);
    background-size: 800% 800%;

    -webkit-animation: ToDoMorning 30s ease infinite;
    -moz-animation: ToDoMorning 30s ease infinite;
    animation: ToDoMorning 30s ease infinite;
}

@-webkit-keyframes ToDoMorning {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@-moz-keyframes ToDoMorning {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}
@keyframes ToDoMorning {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}

.bg-gradient-evening {
    background: linear-gradient(320deg, #1266f1, #424242, #424242, #1266f1, #1266f1);
    background-size: 1000% 1000%;

    -webkit-animation: ToDoEvening 30s ease infinite;
    -moz-animation: ToDoEvening 30s ease infinite;
    animation: ToDoEvening 30s ease infinite;
}

@-webkit-keyframes ToDoEvening {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes ToDoEvening {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes ToDoEvening {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

.btn-block+.btn-block {
    margin-top: 0 !important;
}

.bg-dark {
    background-color: #424242 !important;
}